.root {
	height: calc(100vh - var(--header-height) - 30px);
}

.root > section:last-child {
	height: calc(100% - 50px);
	box-sizing: border-box;
}

.control {
	height: 30px;
}

.container {
	position: relative;
	margin-top: 10px;
	height: calc(100% - 30px - 10px);
	display: flex;
}

.legend {
	display: flex;
}

.legend_item {
	font-size: 12px;
	font-weight: 300;
}

.legend_item:not(:last-child) {
	margin-right: 20px;
}

.filter {
	width: 20%;
	min-width: 300px;
	height: 100%;
	background-color: var(--color-gray-1);
	box-sizing: border-box;
	padding: 10px;
	display: flex;
	flex-direction: column;
}

.filter_header {
	font-weight: 375;
	font-size: 15px;
	gap: 4px;
}

.header_item {
	padding: 0 5px 5px 5px;
	box-shadow: 0 1px 0 0 var(--color-gray-5);
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.filter_body {
	overflow-y: scroll;
	padding: 0 10px 0 0;
	height: 100%;
}

.group_header {
	padding: 10px 0px;
	display: grid;
	grid-template-columns: 40px minmax(0, 1fr);
	gap: 4px;
	font-weight: 375;
	font-size: 14px;
	align-items: center;
}

.group_header > button {
	width: 25px;
	height: 25px;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.group_header > button > svg {
	transform: rotate(-90deg);
	transition: transform 0.2s ease-in-out;
}

.group_header.--open > button > svg {
	transform: rotate(0);
}

.group_title {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.group_item {
	margin-left: 15px;
	padding: 10px;
	background-color: var(--color-gray-3);
	border-radius: 5px;
	font-size: 14px;
	font-weight: 375;
}

.group_item:not(:last-child) {
	margin-bottom: 10px;
}

.group_item_name {
	box-shadow: 0 1px 0 0 var(--color-gray-5);
	margin-bottom: 10px;
	padding-bottom: 5px;
}

.group_item_parameters {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.chart_container {
	flex-grow: 1;
}
