.root {
  position: relative;
}

.legend {
  display: flex;
}

.legend_item {
  font-size: 12px;
  font-weight: 300;
}

.legend_item:not(:last-child) {
  margin-right: 20px;
}


.timer {
	display: flex;
	color: var(--color-gray-7);
	gap: 30px;
	font-size: 12px;
	font-weight: 375;
}

.date {
	display: flex;
}

.date > span {
	display: block;
}

.date:first-child > span:last-child {
	width: 50px;
	text-align: center;
	margin-left: 5px;
}

.date:last-child > span:last-child {
	width: 100px;
	margin-left: 5px;
	text-align: center;
}
